/* ------------------------------------
   #ARTICLE
   ------------------------------------*/
 
/**
 * 
 *
 *
 */
 
time {
	display: block;
	margin-bottom: $spacing;
}

.highlighter-rouge {
	color: #fff;
	background-color: #4a525a;
	margin-bottom: 1.25em;
	padding: 3px 5px;
	overflow-y: scroll;
}