/*------------------------------------*\
    			#FOOTER
\*------------------------------------*/

footer {
    clear: both;

    border-top: 1px solid #eee;
    
}





/*------------------------------------*\
    			#COPYRIGHT
\*------------------------------------*/

.copyright {
    width: 100%;
    margin: 0;
    padding: 0;
}





/*------------------------------------*\
            #SOCIALMEDIA-ICONS
\*------------------------------------*/

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;


        @include breakpoint($breakpoint-two) {
            text-align: right;
            padding: 0;
        }
        
        li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: $spacing;

            &:last-of-type {
                margin-right: 0;
            }           
            
            @include breakpoint($breakpoint-two) {
                text-align: left;
            }
        }

    }   