/* ------------------------------------
   #HOME
   ------------------------------------*/
 
/**
 * 
 *
 *
 */

 
.page--home {    

    header h1 a {
        color: #F58DB6;
    }
}


.about-image {
    float: right;
    width: 40%;
    margin-left: 2*$spacing;
    margin-bottom: $spacing;
    transform: rotateY(180deg);
}


 /*
  Link-list
  ------------------------------------*/
.rechte-lijn {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
        

    li {
        display: inline-block;
        width: 100%;
        margin-bottom: calc($spacing/2);
    }
}

