  <header>

  	<div class="wrapper">
  
    	<h2><a rel="me" class="u-url" href="{{ site.baseurl }}/">Kaj Rietberg</a></h2>
    	<h3>Mountainbike en Front-end enthousiast</h3>

    	{% include "nav.njk" %}

    </div>	
    
  </header>
