<nav class="nav-primary">

   <ul class="nav-primary__list">
      <li class="nav-primary__item nav-primary__home">
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-primary__item nav-primary__webdev">
        <a href="/articles">Schrijfsels</a>
      </li>
      <li class="nav-primary__item nav-primary__mtb">
           <a href="/mountainbiking">Mountainbiking</a>
      </li>
    </ul>
    
</nav>