
<p class="post-tagline">
    Ik ben <span class="p-author h-card" rel="author">Kaj Rietberg</span>. Een enthousiaste <span class="p-job-title">docent rekenen</span> in het mbo. Mijn interesse gaat uit naar de koppeling tussen rekenen en ontwerpen zoals bij datavisualisaties.
</p>

<p>
    Wil je reageren op dit bericht, hit me up on <a href="https://www.linkedin.com/in/kajrietberg/" title="Kaj Rietberg zijn Linkedin account" rel="me">Linkedin</a>, mail mij <a href="mailto:kaj@kajrietberg.nl" class="u-email" itemprop="email">kaj@kajrietberg.nl</a> of zelfs bellen kan op <a href="tel:+31611955688" class="p-tel" itemprop="telephone"> +31(0)6 - 11955688</a>.
</p>