<p>
    Wil je reageren op dit bericht, hit me up on <a href="https://www.linkedin.com/in/kajrietberg/" title="Kaj Rietberg zijn Linkedin account">Linkedin</a>.
</p>

<p class="post-tagline">
    Ik ben <span class="p-author h-card" rel="author">Kaj Rietberg</span>. Een <span class="p-job-title">Front-end ontwikkelaar</span> in Nederland. Ik bouw toekomstbestendige en onderhoudsvriendelijke websites en applicaties met HTML, CSS en JavaScript. Datavisualisatie en animatie zijn onderwerpen waar mijn interesse naar uit gaat.
</p>