
    <head>
        <meta charset="utf-8">

        <!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

        <title>{{ page.title }} - Front-end developer, mountainbiker, Eager to learn | Kaj Rietberg</title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="description" content=" ">
        <meta name="robots" content="index,follow">
        <meta name="author" content="Kaj Rietberg">

        <link rel="shortcut icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet"> 
        <link href="/css/style.min.css" rel="stylesheet">

        <!-- apple-touch-icon.png toevoegen -->
        <!-- Toevoegen html5shiv of modernizr -->

    </head>