
<div id="modal">
		<div class="modal-content">
			<div class="header">
				<h2>Swedish house small</h2>
			</div>
			<div class="copy">
				<p><img src="assets/img/huis-zweden.JPG"></p>
			</div>
			<div class="cf footer">
				<a href="#" class="btn">Close</a>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
	<div id="modal2">
		<div class="modal-content">
			<div class="header">
				<h2>Swedish house big</h2>
			</div>
			<div class="copy">
				<p><img src="assets/img/huis-zweden2.JPG"></p>
			</div>
			<div class="cf footer">
				<a href="#" class="btn">Close</a>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
	<div id="modal3">
		<div class="modal-content">
			<div class="header">
				<h2>Kite Surfer Texel</h2>
			</div>
			<div class="copy">
				<p><img src="assets/img/kite.JPG"></p>
			</div>
			<div class="cf footer">
				<a href="#" class="btn">Close</a>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
	<div id="modal4">
		<div class="modal-content">
			<div class="header">
				<h2>Downhill Houffalize Belgium</h2>
			</div>
			<div class="copy">
				<p><img src="assets/img/mtb.JPG"></p>
			</div>
			<div class="cf footer">
				<a href="#" class="btn">Close</a>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
	<div id="modal5">
		<div class="modal-content">
			<div class="header">
				<h2>Skatepark</h2>
			</div>
			<div class="copy">
				<p><img src="assets/img/skate.JPG"></p>
			</div>
			<div class="cf footer">
				<a href="#" class="btn">Close</a>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
