<!DOCTYPE html>
<html lang="en" class="page  {{ page-class }}">

  {% include 'head.njk' %}

    <body>

        {{ content | safe }}

        {% if page-class == "article" %}
        
        {% endif %}
    </body>
</html>