---
layout: default
show-post-tagline: true
page-class: article
---

{% include header.html %}

        <main role="main"> 
            <article>
                <h1>{{ title }}</h1>
                <p>Gepubliceerd op: <time class="post__date" datetime="{{ page.date }}">{{ page.date | date: "%d-%m-20%y" }}</time></p>

                {{ content }}

                {% include post-tagline.html %}

            </article>

            <h2 style="max-width: 1140px; margin: 0 auto; padding: 0 60px;">Webmentions</h2>
            <ul id="webmentions" style="max-width: 1140px; margin: 0 auto; padding: 30px 60px 60px;">

            </ul>

        </main>

{% include footer.html %}

