---
layout: layouts/default.njk
show-post-tagline: true
page-class: article
---

{% include "header.njk" %} 

        <main role="main"> 
            <article class="h-entry">
                <h1 class="p-name">{{ title }}</h1>
                <p class="datum"> Datum geplaatst: <time class="dt-published" datetime="{{  page.date.toLocaleString('nl-NL') }}">{{  page.date.toLocaleDateString('nl-NL') }}</time></p>
                
                <div class="post-content e-content" itemprop="articleBody">
                        {{ content | safe }}
                </div>
                {% include "post-tagline.njk" %}
            </article>

            <h2 class="post__title-sub">Reacties op dit bericht</h2>
            <ul id="webmentions" class="webmentions">
               
            </ul>

        </main>

{% include "footer.njk" %}

