---
layout: layouts/default.njk
show-post-tagline: true
page-class: article
---

{% include "header.njk" %} 

        <main role="main"> 
            <article class="h-entry">
                <h1 class="p-name">{{ title }}</h1>
                
                <div class="post-content e-content" itemprop="articleBody">
                        {{ content | safe }}
                </div>
                {% include "post-tagline.njk" %}
            </article>

            <h2 class="post__title-sub">Webmentions</h2>
            <ul id="webmentions" class="webmentions">

            </ul>

        </main>

{% include "footer.njk" %}

