/*------------------------------------*\
            #HOME-PAGE
\*------------------------------------*/
.page--home {

    main a {
        color: #fff;

        &:hover {
            color: #FF5D40;
        }
    }

    
    p {
    color: #000;
    }
    

    header h1 a {
        color: #FF5D40;
    }
}





/*------------------------------------*\
            #SECTIONS
\*------------------------------------*/

.page--home section:nth-of-type(1) {
    background-color: #3498DB; 
}
.page--home section:nth-of-type(2) {
    background-color: #fff; 

    a {
        color: #FF5D40;
    }
}
.page--home section:nth-of-type(3) {
    background-color: #CC1614; 
}





/*------------------------------------*\
            #LINK-LISTS
\*------------------------------------*/

.page--home ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
        

    li {
        display: inline-block;
        width: 100%;
        margin-bottom: $spacing/2;
    }
}

