/* ------------------------------------
   #HOME
   ------------------------------------*/
 
/**
 * 
 *
 *
 */

 
.page--home {    

    header h1 a {
        color: #F58DB6;
    }
}






/*
  Sections
  ------------------------------------*/
.page--home section:nth-of-type(2) {
    .wrapper {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}






 /*
  Link-list
  ------------------------------------*/
.rechte-lijn {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
        

    li {
        display: inline-block;
        width: 100%;
        margin-bottom: $spacing/2;
    }
}

