




.page--opstelling {

	main {
		background-color: grey;
		padding: 50px;
	}


	label {
		display: block;
	}


}



.opstelling-keuze__form {
	margin-bottom: 50px
}



.voetbalveld {
	height: 900px;
	width: 700px;
	position: relative;
	background-color: green;
	border: 2px solid #fff;

	hr {
		width: 100%;
		position: absolute;
		top: calc(50% - 1px);
		color: #fff;
		border: 2px solid #fff;
		margin: 0;
	}
}

.doelgebied,
.doelgebied2 {
	height: 160px;
	width: 300px;
	position: absolute;
	top: -2px;
	left: calc(50% - 150px);
	border: 2px solid #fff;
}
.doelgebied2 {
	top: auto;
	bottom: -2px;
}


.doelgebied__goal {
	height: 50px;
	width: 100px;
	position: absolute;
	left: calc(50% - 50px);
	top: -2px;
	border: 2px solid #fff;

	.doelgebied2 & {
		top: auto;
		bottom: -2px;
	}
}


.doelgebied__cirkel {
	height: 40px;
	width: 60px;
	position: absolute;
	top: 131px;
	left: calc(50% - 30px);
	border-bottom: 2px solid #fff;
	border-radius: 50%;

	.doelgebied2 & {
		top: auto;
		bottom: 131px;
		border-bottom: none;
		border-top: 2px solid #fff;
	}
}

.voetbalveld__middencirkel {
	height: 100px;
	width: 100px;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	border: 2px solid #fff;
	border-radius: 50%;
}


.positie {
	height: 35px;
	min-width: 150px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	padding: 5px;

	&-gk,
	&-cm,
	&-ca {
		left: calc(50% - 75px);
	}

	&-lb,
	&-lm,
	&-la {
		left: 20px;
	}

	&-rb,
	&-rm,
	&-ra {
		right: 20px;
	}

	&-cv {
		left: calc(50% - 160px);
	}
	&-vs {
		left: calc(50% + 10px);
	}

	&-gk {
		bottom: 10px;
	}

	&-lb,
	&-cv,
	&-vs,
	&-rb {
		bottom: 200px;
	}

	&-lm,
	&-cm,
	&-rm {
		bottom: 350px;
	}

	&-la,
	&-ca,
	&-ra {
		bottom: 500px;
	}


}
