/* ------------------------------------
   #ARTICLE
   ------------------------------------*/
 
/**
 * 
 *
 *
 */
 
time {
}



.highlighter-rouge {
	color: #fff;
	background-color: #4a525a;
	margin-bottom: 1.25em;
	padding: 3px 5px;
	overflow-y: scroll;
}

.datum {
	font-size: $font-size-10;
	font-weight: 100;
}