/* ------------------------------------
   #ARTICLE
   ------------------------------------*/
 
/**
 * 
 *
 *
 */

 @use "1-settings/_settings" as s;
 @use "2-tools/_responsive";


time {
}

.highlighter-rouge {
	color: #fff;
	background-color: #4a525a;
	margin-bottom: 1.25em;
	padding: 3px 5px;
	overflow-y: scroll;
}

.datum {
	font-size: s.$font-size-10;
	font-weight: 100;
}