/* ------------------------------------
   #ARTICLE
   ------------------------------------*/
 
/**
 * 
 *
 *
 */

 @use "1-settings/_settings" as s;

.artikelen-overzicht {
	display: flex;
	flex-wrap: wrap;
	margin: 0;

	li {
		display: inline-block;
		width: calc(50% - s.$spacing);
		background-color: #0c0c3e;
		border-top-left-radius: 30px 20px;
		border-bottom-right-radius: 20px 30px;
		margin-bottom: s.$spacing;
		padding: 0;
		

		&:nth-child(2n) {
			margin-left: s.$spacing;
		}

		a {
			display: inline-block;
			width: 100%;
			padding: 1.5*s.$spacing s.$spacing;
		}

		
	}
}


time {
}

.highlighter-rouge {
	color: #fff;
	background-color: #4a525a;
	margin-bottom: 1.25em;
	padding: 3px 5px;
	overflow-y: scroll;
}

.datum {
	font-size: s.$font-size-10;
	font-weight: 100;
}