/* ------------------------------------
   #FOOTER
   ------------------------------------*/

/**
 * 
 *
 *
 */

 @use "1-settings/_settings" as s;
 
footer {
    clear: both;
    border-top: 1px solid #eee; 
}






/*
  Copyright
  ------------------------------------*/
.copyright {
    width: 100%;
    font-size: s.$font-size-20;
    margin: 0;
    padding: 0;
}





/*
  Socialmedia-icons
  ------------------------------------*/
.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;

        @media screen and (min-width: 1024px) {
            text-align: right;
            padding: 0;
        }
        
        li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: s.$spacing;

            &:last-of-type {
                margin-right: 0;
            }           
            @media screen and (min-width: 1024px) {
                text-align: left;
            }

            a {

            }

            svg {
                fill: #fff;

                &:hover,
                &:focus,
                &:active {
                    fill: s.$link--color-hover;
                }
            }
        }

    }   