/* ------------------------------------
   #HEADER
   ------------------------------------*/
 
/**
 * 
 *
 *
 */

  @use "1-settings/_settings" as s;

header {
    width: 100%;

    h1,
    h2,
    h3 {
        display: inline-block;
        width: 100%;
        color: #fff;
        font-size: 2.2rem;
        text-align: left;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
        }

        @media screen and (min-width: 1024px) {
            width: 35%;
        }
        
    }

    h3 {
        @media screen and (min-width: 1024px) {
            width: 65%;
            font-size: 1.7rem;
            text-align: right;
        }
        
    }

}





/*
  Navigatie
  ------------------------------------*/
.nav-primary {
	width: 100%;

}

.nav-primary__list {
    display: flex;
    flex-wrap: wrap;
	font-weight: 700;
	list-style-type: none;
	margin: 0;
}

.nav-primary__item {
    font-size: 1.2em;
	margin-right: 25px;
}

.nav-primary__home {
    a {
        .page--home & {
            color: #FFC038;
            text-decoration: none;
        }
    }
}

.nav-primary__about {
    a {
        .page--about & {
            color: #FFC038;
            text-decoration: none;
        }
    }
}

.nav-primary__webdev {
    a {
        .page--webdev & {
            color: #FFC038;
            text-decoration: none;
        }
    }
}


