/* ------------------------------------
   #PAGE
   ------------------------------------*/
/**
 * 
 *
 *
 */

  @use "1-settings/_settings" as s;

  
.page-title {
	width: 100%;
	margin-bottom: s.$spacing;
}