/* -----------------
   #WEBMENTIONS
   -----------------*/

/**
 * Styling van de webmentions
 *
 */

.webmentions {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 60px 60px;
}

.webmention {
  margin-bottom: 2rem;
}

.webmention__url {

}

.webmention__img {
  display: block;
  height: 100px;
  border-radius: 50%;
}