/* -----------------
   #WEBMENTIONS
   -----------------*/

/**
 * Styling van de webmentions
 *
 */


.webmention {
  margin-bottom: 2rem;
}

.webmention__url {

}

.webmention__img {
  display: block;
  height: 100px;
  border-radius: 50%;
}