/* ------------------------------------
   #BASE
   ------------------------------------*/

/**
 * 
 *
 *
 */

@use "1-settings/_settings" as s;

// Sass thingies
@use "sass:color";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }


html {
    box-sizing: border-box;
}


 * {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}


//::-moz-selection { background: color.adjust(s.$black, $lightness: 10%); color: s.$white; text-shadow: none; }
//::selection { background: color.adjust(s.$black, $lightness: 10%); color: s.$white; text-shadow: none; }

html {
    color: #fff;
    font: s.$font-size-base;
    font-family: s.$font-family-base;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

     @media screen and (min-width: 1024px) {
         font-size: s.$font-size-40;
       }
}

body {
    line-height: 1.5;
    background-color: #121259;
}

h1, h2, h3, h4, h5, h6 {
    font-family: s.$font-family-heading;
    font-weight: 600;
    line-height: 1.5;
    
    &.soft {
        font-weight: 300;
        color: color.scale(s.$black, $lightness: 50%);
    }
}

h1 { 
    font-size: 2.25rem;  
}


h2 { 
    font-size: 1.75rem;
    margin-bottom: s.$spacing;
}

h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1.05rem; }
h6 { font-size: 1rem; }

p {
    margin-bottom: s.$spacing;
    &.lead {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}


a {
    color: s.$link--color;
    transition: color 400ms ease;
    
    &:hover,
    &:active,
    &:focus {
        color: s.$link--color-hover;
    }
}

small { 
    font-size: 0.85rem; 
    color: color.scale(s.$black, $lightness: 50%); 
}

em { font-style: italic; }

strong {
    font-weight: bold;
    background-image: url("/assets/img/strong-achtergrond.svg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 3px;
    padding-right: 5px;
    padding-left: 10px;

}

code, pre { font-family: 'courier new', monospace; }

abbr { border-bottom: 1px dotted color.scale(s.$black, $lightness: 50%); }

del { text-decoration: line-through; }

mark { background-color: color.scale(yellow, $lightness: 35%); }

hr {
    background-color: transparent;
    border: solid color.scale(s.$black, $lightness: 80%);
    border-width: 1px 0 0;
    clear: both;
    margin: 2em s.$spacing;
}

ul, ol { margin: 0 0 s.$spacing 1.5em; }
ul { list-style: disc; }
ol { list-style: decimal; }

dl {
    margin-bottom: s.$spacing;
    dt { font-weight: bold; }
    dd { margin-left: s.$spacing; }
}

img {
    max-width: 100%;
}