---
permalink: articles.json
excludeFromSitemap: true
---

[
{% for post in collections.post %}
    {
        "id": {{ loop.index }},
        "date": "{{ post.date }}",
        "url": "{{ post.url | url | absoluteUrl(site.url) }}",
        "syndicate": {{ post.data.syndicate | string }}
    }
    {%- if not loop.last -%},{%- endif -%}
{% endfor %}
]