---
layout: layouts/page.njk
title: Mountainbiking
permalink: /mountainbiking/
page-class: page--mtb
eleventyImport:
  collections: ["mtb"]
---

	<p>
		Ik hou van Mountainbiken. Ik heb verschillende XC-races, cyclosportieve tochten en toertochten gereden. Hier vertel ik mijn MTB belevenissen en staan tochten (sinds 2017) waar ik trots op ben. In 1997 had ik mijn eerste mtb weekeinde via een georganiseerde OAD vakantie. Dat was fantastisch. Het jaar erna zelf een fiets gekocht en gestart met mtb-en in de buurt en gelijk maar de bergen in Zwitserland bezocht en beklommen.<br />
		Dit was de start van mooie avonturen, schitterende tochten, overwinningen op mijzelf en uitputtingsslagen.
		
	</p>

	<h3>Mijn materiaal</h3>

	<p>
		MTB: Scott Scale 925<br>
		Wielen: <a href="https://www.fulcrumwheels.com/en/wheels/mtb-wheels/Red-Zone-Carbon" title="Link naar Fulcrum red zone carbon wielen">Fulcrum redzone carbon</a><br>
	</p>

	<h3>Mijn fietsverhaaltjes</h3>
	<ul>
		{%- for mtb in collections.mtb | reverse -%}
		<li><a href="{{ mtb.url }}">{{ mtb.data.title  }}</a></li>
		{%- endfor -%}
	</ul>

	<h2>Tochten met trots</h2>

	<h3>
		2024
	</h3>
	<ul>
		{%- for mtbtocht in mtbtochten -%}
		{% if mtbtocht.year == "2024" %}<li><a href="{{ mtbtocht.strava }}">{{ mtbtocht.naam }}</a> - {{ mtbtocht.afstand }}</li> {% endif %}
		{%- endfor -%}
	</ul>

	<h3>
		2023
	</h3>
	<ul>
		{%- for mtbtocht in mtbtochten -%}
		{% if mtbtocht.year == "2023" %}<li><a href="{{ mtbtocht.strava }}">{{ mtbtocht.naam }}</a> - {{ mtbtocht.afstand }}</li> {% endif %}
		{%- endfor -%}
	</ul>


	<h3>
		2022
	</h3>
	<ul>
		{%- for mtbtocht in mtbtochten -%}
		{% if mtbtocht.year == "2022" %}<li><a href="{{ mtbtocht.strava }}">{{ mtbtocht.naam }}</a> - {{ mtbtocht.afstand }}</li> {% endif %}
		{%- endfor -%}
	</ul>
	<h3>
		2021
	</h3>
	<ul>
		{%- for mtbtocht in mtbtochten -%}
		{% if mtbtocht.year == "2021" %}<li><a href="{{ mtbtocht.strava }}">{{ mtbtocht.naam }}</a> - {{ mtbtocht.afstand }}</li> {% endif %}
		{%- endfor -%}
	</ul>

	<h3>
		2020
	</h3>
	<ul>
		{%- for mtbtocht in mtbtochten -%}
		{% if mtbtocht.year == "2020" %}<li><a href="{{ mtbtocht.strava }}">{{ mtbtocht.naam }}</a> - {{ mtbtocht.afstand }}</li> {% endif %}
		{%- endfor -%}
	</ul>
	<h3>
		2019
	</h3>
	<ul>
		{%- for mtbtocht in mtbtochten -%}
		{% if mtbtocht.year == "2019" %}<li><a href="{{ mtbtocht.strava }}">{{ mtbtocht.naam }}</a> - {{ mtbtocht.afstand }}</li> {% endif %}
		{%- endfor -%}
	</ul>


	<h3>
		2017
	</h3>
	<ul>
		{%- for mtbtocht in mtbtochten -%}
		{% if mtbtocht.year == "2017" %}<li><a href="{{ mtbtocht.strava }}">{{ mtbtocht.naam }}</a> - {{ mtbtocht.afstand }}</li> {% endif %}
		{%- endfor -%}
	</ul>