---
layout: layouts/page.njk
title: Web(dev) schrijfsels
permalink: /webdev-articles/
page-class: page--webdev
eleventyImport:
  collections: ["post"]
---

<div>
  <h2>Schrijfsels hier</h2>

  <p>Mijn artikelen zijn in het Nederlands, blijft toch mijn moeder taal en er zijn volgens mij genoeg mensen die het prettiger vinden artikelen in het Nederlands te lezen. Het zijn geen perfect geschreven verhalen.
    Ze zijn meer geschreven als aantekeningen om weer naar terug te kijken hoe iets gaat.</p>

  <ul>
    {%- for post in collections.post -%}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {%- endfor -%}
  </ul>

  <h2>Verzamel berichten over het web</h2>
  <p>Deze berichten vul ik steeds aan met nieuwe inzichten.</p>
  <ul>
    {%- for page in collections.page -%}
    <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
    {%- endfor -%}
  </ul>


<div>
  <h2>Schrijfsels ergens anders</h2>
  <ul>
    <li><a href="http://fronteers.nl/blog/2015/01/css-resets">CSS Resets</a> - Fronteers website</li>
  </ul>
</div>