---
layout: layouts/page.njk
title: Web(dev) en over je ontwikkelen schrijfsels
permalink: /articles/
page-class: page--webdev
eleventyImport:
  collections: ["post"]
---

<div>
  <h2>Schrijfsels hier</h2>

  <p>
    Mijn schrijfsels zijn niet altijd perfect geschreven verhalen. Ze zijn vaak meer geschreven als aantekeningen voor mijzelf om 
    weer naar terug te kijken hoe iets gaat. Door te schrijven denk ik na en zet de nieuwe informatie voor mijzelf op een rij, waar ik ook weer van leer.
  </p>
  
  <p>
    Omdat ik sinds 2020 weer in het onderwijs terecht ben gekomen is mijn webdev blog grotendeels tot stilstand gekomen. Maar ik vind het wel leuk om te schrijven over onderwerpen die mij bezighouden en waardoor ik mijzelf ontwikkel. 
    En hopelijk hebben anderen er ook iets aan. Dus onderwerpen waar ik bij stilsta hebben te maken met jezelf ontwikkelen, onderwijs, het web en wat verder ter tafel komt :-).
  </p>

  <ul>
    {%- for post in collections.post | reverse -%}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {%- endfor -%}
  </ul>

  <h2>Verzamel berichten over het web</h2>
  <p>Deze berichten vul ik steeds aan met nieuwe inzichten.</p>
  <ul>
    {%- for page in collections.page -%}
    <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
    {%- endfor -%}
  </ul>


<div>
  <h2>Schrijfsels ergens anders</h2>
  <ul>
    <li><a href="http://fronteers.nl/blog/2015/01/css-resets">CSS Resets</a> - Fronteers website</li>
    <li><a href="https://www.bananenflanke.nl/groundhoppen-bratwurst-pommes-en-goed-voetbal-in-meppen">Groundhoppen: Bratwurst, Pommes en goed voetbal in Meppen - Bananenflanke, verhalen over het Duitse voetbal</li>
  </ul>
</div>