---
layout: layouts/page.njk
title: Mijn schrijfsels
permalink: /articles/
page-class: page--webdev
eleventyImport:
  collections: ["post"]
---

<div>
  <h2>Schrijfsels hier</h2>

  <p>
    Mijn schrijfsel gaan over wat mij nu bezig houdt en dat is vaak mijn werkgebied.  Het zijn niet altijd perfect geschreven verhalen. Ze zijn vaak geschreven als aantekeningen voor mijzelf om 
    weer naar terug te kijken hoe iets gaat. Door te schrijven denk ik na en zet de nieuwe informatie voor mijzelf op een rij, waardoor ik mij ontwikkel. <br>
    En hopelijk hebben anderen er ook iets aan.
  </p>

  <ul class="artikelen-overzicht">
    {%- for post in collections.post | reverse -%}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {%- endfor -%}
  </ul>

<div>
  <h2>Schrijfsels ergens anders</h2>
  <ul class="artikelen-overzicht">
    <li><a href="http://fronteers.nl/blog/2015/01/css-resets">CSS Resets - Fronteers website</a></li>
    <li><a href="https://www.bananenflanke.nl/groundhoppen-bratwurst-pommes-en-goed-voetbal-in-meppen">Groundhoppen: Bratwurst, Pommes en goed voetbal in Meppen - Bananenflanke, verhalen over het Duitse voetbal</a></li>
  </ul>
</div>