// Settings
@use "1-settings/_settings"; // Set up your settings and variables first


//Tools: mixins, functions, extends, etc.
// @use "2-tools/_responsive";


//Base: base styling from html elements, normalize, etc.
@use "3-base/_base";


//Layout; classes that layout the page and/or classes that have layout on them
@use "4-layout/_layout";


//Modules; components that can be used through the whole website
@use "5-modules/_article";
@use "5-modules/_code";
@use "5-modules/_footer";
@use "5-modules/_header";
@use "5-modules/_headers-titles";
@use "5-modules/_page";
@use "5-modules/_post-tagline";
@use "5-modules/_quote";
@use "5-modules/_webmentions";


//gui: specific styling on a page (what's only on that page)
@use "6-gui/_home";


// Print
@use "3-base/_print";
