/* ------------------------------------
   #LAYOUT
   ------------------------------------*/

/**
 * 
 *
 *
 */

 @use "1-settings/_settings" as s;
 

.wrapper,
article {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 30px 30px 50px;
    
    @media screen and (min-width: 480px) {
        max-width: s.$max-width;
        padding: 30px 60px; 
    }
}

.wrapper {
    header & {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &.wrapper--flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        div {
            width: 45%;
            @media screen and (max-width: 1023px) {
                width: 100%;
             }
        }
    }

    footer & {
        padding-bottom: 30px;
    }
}

section {

    .page--webdev & {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        div {
            @media screen and (min-width: 480px) {
                widht: 45%
             }
        }
    }
}