/* ------------------------------------
   #LAYOUT
   ------------------------------------*/
 
/**
 * 
 *
 *
 */


.wrapper,
article {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 30px 30px 50px;

    @include media-query(palm-and-up) {
        max-width: $max-width;
        padding: 30px 60px 60px;
    }
}

.wrapper {
    header & {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &.wrapper--flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        div {
            
            @include media-query(palm-and-up) {
                width: 45%;
            }
        }
    }

    footer & {
        padding-bottom: 30px;
    }
}

section {

    .page--webdev & {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        div {

            @include media-query(palm-and-up) {
                width: 45%;
            }
        }
    }
}